<script type="text/html" id="templates/settings/export.html">
  <div class="settings-section settings-section-export" id="settings-section-export">
    <div class="settings-title" id="settings-title">
      <!-- Content comes from ExportController.js createExportTitle() -->
    </div>
    <!-- HTML for Scale Changing -->
    <!-- Content comes from ExportController.js createExportChangeScale() -->
    <div class="settings-item export-resize">
      <!-- HTML for Change Resolution -->
      <!-- Content comes from ExportController.js createExportChangeResolution() -->
    </div>
    <div class="export-tabs tab-list">
      <!-- HTML for Change Export Tabs -->
      <!-- Content comes from ExportController.js createExportTabs() -->
    </div>

    <!-- HTML for export-panel tab-content -->
    <!-- Content comes from ExportController.js createExportDom_() -->  
  </div>
</script>
