<script type="text/html" id="templates/settings/resize.html">
  <div class="settings-section settings-section-resize">
    <!-- RESIZE DRAWING SECTION -->
    <div class="settings-title" id='settings-title'>
      <!-- Content comes from ResizeController createResizeTitle() -->
    </div>
    <div class="settings-item  resize-canvas">
      <form action="" method="POST" name="resize-canvas-form" id='resize-canvas-form'>
        <!-- Content comes from ResizeController createResizeCanvasForm() -->
      </form>
    </div>
    <!-- DEFAULT SIZE SECTION -->
    <div class="settings-title" id='settings-title-default'>
      <!-- Content comes from createResizeTitleDefault() -->
    </div>
    <div class="settings-item  settings-default-size">
      <form action="" method="POST" name="default-size-form" id="default-size-form">
        <!-- Content comes from createResizeCanvasDefaultForm() -->
      </form>
    </div>
  </div>
</script>
