<div class="sticky-section left-sticky-section" id="tool-section">
  <div class="sticky-section-wrap">
    <div class="vertical-centerer">
      <div class="pen-size-container size-picker-container" title="Pen size<br/>at 1, 4, 8, or 16 pixels" rel="tooltip" data-placement="top">
        <div class="pen-size-option size-picker-option" data-size="1"></div>
        <div class="pen-size-option size-picker-option" data-size="4"></div>
        <div class="pen-size-option size-picker-option" data-size="8"></div>
        <div class="pen-size-option size-picker-option" data-size="16"></div>
      </div>
      <ul id="tools-container" class="tools-wrapper">
        <!-- Drawing tools will be inserted here -->
      </ul>
      <div class="palette-wrapper" id="palette-wrapper">
        <!-- Content comes from PaletteController createExportDom_() -->
      </div>
    </div>
  </div>

  <!-- Templates -->

  <!-- Drawing tool icon-button -->
  <script type="text/template" id="drawingTool-item-template">
    <li rel="tooltip" data-placement="{{tooltipposition}}" class="{{cssclass}}" data-tool-id="{{toolid}}" title="{{title}}"></li>
  </script>
</div>
