<div class="sticky-section left-sticky-section" id="tool-section">
  <div class="sticky-section-wrap">
    <div class="vertical-centerer">
      <div id="pen-size-container">
        <!-- Content comes from PenSizeController createPenSizeDom_() -->
      </div>
      <ul id="tools-container" class="tools-wrapper">
        <!-- Drawing tools will be inserted here -->
      </ul>
      <div class="palette-wrapper" id="palette-wrapper">
        <!-- Content comes from PaletteController createExportDom_() -->
      </div>
    </div>
  </div>

  <!-- Templates -->

  <!-- Drawing tool icon-button -->
  <script type="text/template" id="drawingTool-item-template">
    <li rel="tooltip" data-placement="{{tooltipposition}}" class="{{cssclass}}" data-tool-id="{{toolid}}" title="{{title}}"></li>
  </script>
</div>
