<div style="display:none">
  <script type="text/template" id="progress-bar-template">
    <div class="progress-bar-container">
      <div class="progress-bar-name">{{name}}</div>
      <div class="progress-bar-item progress-bar"></div>
      <div class="progress-bar-item progress-bar-status">{{status}}%</div>
    </div>
  </script>

  <!-- Tooltip container -->
  <script type="text/template" id="tooltip-container-template">
    <div class='tooltip-container'>
      <div>{{helptext}} <span class='tooltip-shortcut'>{{shortcut}}</span></div>
      {{!descriptors!}}
    </div>
  </script>

  <!-- Tooltip description with modifier -->
  <script type="text/template" id="tooltip-modifier-descriptor-template">
    <div class='tooltip-descriptor'>
      <span class='tooltip-descriptor-button'>{{key}}</span>
      {{description}}
    </div>
  </script>

  <!-- Simple tooltip description -->
  <script type="text/template" id="tooltip-simple-descriptor-template">
    <div class='tooltip-descriptor'>
      {{description}}
    </div>
  </script>

  <!-- ----------------------------------------------------------- -->
  <!-- Resize Tool -->
  <!-- Template for Resize Settings Title -->
  <script type="text/template" id="resize-settings-template">
    {{title}}
  </script>

  <!-- Template for Width and Height -->
  <script type="text/template" id="resize-tool-template">
    <div class="resize-section">
      <span class="resize-section-title">{{labelText}}</span>
      <input type="text" class="textfield resize-size-field" autocomplete="off" name="{{inputName}}"/>
      <span>px</span>
    </div>
  </script>

  <!-- Template for Ratio and Canvas -->
  <script type="text/template" id="ratio-canvas-template">
    <div class="resize-section">
      <label class="checkbox-container">
        <input type="checkbox" class="{{cssClass}} checkbox-fix" value="true"/>
        <span>{{labelText}}</span>
      </label>
    </div>
  </script>

  <!-- Template for Anchor -->
  <script type="text/template" id="resize-anchor-template">
    <div class="resize-section">
      <span class="resize-section-title">{{title}}</span>
      <div class="resize-anchor-container"></div>
    </div>
  </script>

  <!-- Template for Resize Submit Button -->
  <script type="text/template" id="resize-button-template">
    <input type="submit" class="button button-primary resize-button" value="{{valueText}}" />
  </script>

  <!-- ----------------------------------------------------------- -->
  <!-- Export Tool -->
  <!-- Template for Export Settings Title -->
  <script type="text/template" id="export-settings-template">
    <div class="settings-title" id="settings-title">
      {{text}}
    </div>
  </script>

   <!-- Template for Scale Changing -->
   <script type="text/template" id="export-scale-template">
    <div class="settings-item export-scale" title="{{tooltipTitle}}"
        rel="tooltip"
        data-placement="top"
        id="exportScale">
      <label for="scale-input">{{labelText}}</label>
      <input type="range" class="scale-input" name="scale-input" min="1"  max="32" step="1"/>
      <span class="scale-text"></span>
    </div>
  </script>

  <!-- Template for Change Resolution -->
  <script type="text/template" id="export-change-resolution-template">
    <div class="settings-item export-resize" id="export-resize">
      <span class="resize-label">{{label}}</span>
      <input type="text" class="textfield  resize-field  resize-width" autocomplete="off" name="resize-width"/>
      <div class="resize-label">x</div>
      <input type="text" class="textfield  resize-field  resize-height" autocomplete="off" name="resize-height"/>
    </div>
  </script>

  <!-- Template for Export Tabs -->
  <script type="text/template" id="export-tabs-template">
    <div class="export-tabs tab-list" id="tab-list">
      <div class="export-tab tab-item" data-tab-id="gif">GIF</div>
      <div class="export-tab tab-item" data-tab-id="png">PNG</div>
      <div class="export-tab tab-item" data-tab-id="zip">Zip</div>
      <div class="export-tab tab-item" data-tab-id="misc">{{tabText}}</div>
    </div>
  </script>

  <!-- ----------------------------------------------------------- -->
  <!-- Gif Export Tool -->
  <!-- Template for Gif Export Desc -->
  <script type="text/template" id="gif-export-desc-template">
    {{description}}
  </script>

  <!-- Template for Gif Export Warning -->
  <script type="text/template" id="gif-export-warning-template">
    <div class="gif-export-warning-icon icon-common-warning-red">&nbsp;</div>
    <div class="gif-export-warning-message">
      {{description}}
    </div>
  </script>

  <!-- Template for Gif Export Loop Repeatedly -->
  <script type="text/template" id="gif-export-loop-repeatedly-template">
    <input id="gif-repeat-checkbox" class="gif-repeat-checkbox checkbox-fix" type="checkbox" />
    <label for="gif-repeat-checkbox"
           title="{{tooltipTitle}}"
           rel="tooltip"
           data-placement="top">{{labelText}}</label>
  </script>

  <!-- Template for Gif Export Download and Upload Section -->
  <script type="text/template" id="gif-export-upload-download-template">
    <div class="export-panel-section export-panel-row {{codeDotOrgClass}}" id="{{id}}">
      <button type="button" class="button button-primary {{cssClass}}">{{buttonText}}</button>
      <div class="export-info">{{description}}</div>
    </div>
  </script>
</div>