<div style="display:none">
  <script type="text/template" id="progress-bar-template">
    <div class="progress-bar-container">
      <div class="progress-bar-name">{{name}}</div>
      <div class="progress-bar-item progress-bar"></div>
      <div class="progress-bar-item progress-bar-status">{{status}}%</div>
    </div>
  </script>

  <!-- Tooltip container -->
  <script type="text/template" id="tooltip-container-template">
    <div class='tooltip-container'>
      <div>{{helptext}} <span class='tooltip-shortcut'>{{shortcut}}</span></div>
      {{!descriptors!}}
    </div>
  </script>

  <!-- Tooltip description with modifier -->
  <script type="text/template" id="tooltip-modifier-descriptor-template">
    <div class='tooltip-descriptor'>
      <span class='tooltip-descriptor-button'>{{key}}</span>
      {{description}}
    </div>
  </script>

  <!-- Simple tooltip description -->
  <script type="text/template" id="tooltip-simple-descriptor-template">
    <div class='tooltip-descriptor'>
      {{description}}
    </div>
  </script>

  <!-- ----------------------------------------------------------- -->
  <!-- Resize Tool -->
  <!-- Template for Resize Settings Title -->
  <script type="text/template" id="resize-settings-template">
    {{text}}
  </script>

  <!-- Template for Width and Height -->
  <script type="text/template" id="resize-tool-template">
    <div class="resize-section">
      <span  class="resize-section-title">{{text}}</span>
      <input type="text" class="textfield resize-size-field" autocomplete="off" name="{{inputText}}"/>
      <span>px</span>
    </div>
  </script>

  <!-- Template for Ratio and Canvas -->
  <script type="text/template" id="ratio-canvas-template">
    <div class="resize-section">
      <label class="checkbox-container">
        <input type="checkbox" class="{{inputText}} checkbox-fix" value="true"/>
        <span>{{text}}</span>
      </label>
    </div>
  </script>

  <!-- Template for Anchor -->
  <script type="text/template" id="resize-anchor-template">
    <div class="resize-section">
      <span class="resize-section-title">{{text}}</span>
      <div class="resize-anchor-container"></div>
    </div>
  </script>

  <!-- Template for Resize Submit Button -->
  <script type="text/template" id="resize-button-template">
    <input type="submit" class="button button-primary resize-button" value="{{text}}" />
  </script>
</div>