<script type="text/html" id="templates/settings/export/gif.html">
  <div class="export-panel-gif" id="export-panel-gif">
    <div class="export-panel-header export-info" id="export-info">
      <!-- Content comes from GifExportController createGifExportDesc() -->
    </div>
    <div class="gif-export-warning" id="gif-export-warning">
      <!-- Content comes from GifExportController createGifExportWarning() -->
    </div>
    <div class="export-panel-section export-panel-row" id="loop-repeatedly-section">
      <!-- Content comes from GifExportController createGifExportLoopRepeatedly() -->
    </div>
    <div id="gif-export-actions-section">
      <!-- Content comes from GifExportController createGifExportDownloadSection() -->
      
      <!-- We add upload-gif-gamelab to the div in to hide the feature
           GAMELAB : Adding classname to be able to hide this feature -->
      <!-- Content comes from GifExportController createGifExportUploadSection() -->
      
      <!-- div with class gif-upload comes from GifExportController createGifExportDom_ -->
    </div>
  </div>
</script>