<script type="text/html" id="templates/settings/export/zip.html">
  <div class="export-panel-zip" id="export-panel-zip">
    <div class="export-panel-header export-info" id="export-info">
      <!-- Content comes from ZipExportController createZipExportDesc() -->
    </div>
    <div class="export-panel-section" id="export-panel-section">
      <!-- Content comes from ZipExportController createZipExportPrefix() -->
      <div class="checkbox-container" style="margin: 5px 0;">
        <!-- Content comes from ZipExportController createZipExportLayers() -->
      </div>
      <!-- Content comes from ZipExportController createZipExportDownloadButton() --> 
    </div>
  </div>
</script>