/* Features to hide on GameLab Animation tab */
.layers-list-container,
.icon-settings-export-white,
.palettes-list-container,
.cheatsheet-link,
.canvas-container-wrapper,
.display-fps,
.range-fps,
.icon-tool-clone,
.icon-settings-open-folder-white,
.fake-piskelapp-header,
.icon-settings-save-white,
.icon-settings-gear-white,
.transformations-title {
  padding: 0px;
  visibility: hidden;
  min-height: 0px;
  height: 0px;
  width: 0px;
  margin: 0px;
}

/* General styles */

body {
  background-color: #f2f2f2;
}

#main-wrapper{
  top: 0;
  bottom: 0px;
}

.pull-bottom {
  bottom: 20px;
}

.right-column {
  margin-top: 0px;
  margin-left: 0px;
}

/* Frame column */
.left-column {
  padding: 10px;
  margin-right: 0px;
  margin-left: 40px;
  max-width: 120px;
  height: 95%;
}

.add-frame-action {
  background-color: #f2f2f2;
  color: #a5a5a6;
  border: 2px dashed #a5a5a6;
}

.column-wrapper {
  left: 120px;
}

/*Resize */

.right-sticky-section .tool-icon.has-expanded-drawer {
  border: none;
  background-color: #444;
}

/* Onion */
#animated-preview-container {
  width: 46px;
  height: 46px;
  background-color: #b7b7b7;
  border: 2px solid #a5a5a6;
  position: absolute;
  left: 0px;
  top: 156px;
}

.preview-container {
  box-shadow: none;
}

.piskel-icon-onion:before {
  padding-left: 5px;
  padding-right: 20px;
}

.preview-toggle-onion-skin {
  color: #fff;
  line-height: 46px;
}

/* Drawing tools */
.left-sticky-section.sticky-section {
  max-width: 120px;
}

.tool-icon {
  background-color: #b7b7b7;
  border: 2px solid #a5a5a6;
}

.tool-icon.selected {
  background-color: #7665a0;
  border: 2px solid #7665a0;
}

.tool-icon:hover {
  background-color: #7665a0;
}

.tool-color-picker {
  border: none;
}

#tool-section {
  padding-top: 5px;
  background-color: #DDDDDD;
}

/* Color picker */
.sp-replacer {
  background-color: #a5a5a6;
}

.sp-replacer:hover {
  background-color: #7665a0;
  color: #7665a0;
}

.sp-replacer.sp-active {
  background-color: #7665a0;
  color: #7665a0;
}

.swap-colors-button {
  opacity : 1;
}

/* Transform tools */
.transforms-container {
  background-color: #ddd;
}

.toolbox-title {
  color: #a5a5a6;
  background-color: #ddd;
}

.toolbox-container {
  background-color: transparent;
  border: none;
  width: 60px;
  height: 170px;
  position: absolute;
  left: -6px;
  top: -6px;
  margin-top: 0px;
}

.tool-icon.icon-tool-clone {
  border: none;
}

.tools-wrapper {
  padding: 5px;
}

/* Orignal Piskel highlight color is gold.
   Here's all the places we should set it to our color. */

.local-piskel-list-head {
  color: #7665a0;
}

.create-palette-color:hover {
  border:1px solid #7665a0;
}

.colors-list-drop-proxy {
}

.create-palette-new-color {
  border:2px dotted #7665a0;
  color: #7665a0;
}

.create-palette-color.selected {
  border:2px solid #7665a0;
}

.import-image-file-name {
  color: #7665a0;
}

#dialog-container {
  border : 3px solid #7665a0;
}

.dialog-head {
  background: #7665a0;
}

.button:hover {
  color: #fff;
}

.button-primary {
  background-color: rgb(118,101,160);
  color-border: rgb(255, 153, 0);
  border: none;
  color: #fff;
  text-shadow: none;
}

.button-primary:hover {
  background-color: rgb(118,101,160);
}

.add-frame-action:hover {
  border-color: #7665a0;
}

.preview-tile {
  border: 1px solid #A5A5A6;
}

.preview-tile.selected {
  border: 3px solid #7665a0;
}

.preview-tile.selected:after {
  border-left-color: #7665a0;
}

.preview-tile-drop-proxy {
  border: 1px dashed #7665a0;
}

.progress-bar-container {
  border: #7665a0 2px solid;
}

.progress-bar {
  background : linear-gradient(to left, #7665a0, #7665a0) no-repeat -300px 0;
}

.pen-size-option {
  background-color: #b7b7b7;
  border-color: #a5a5a6;
}

.pen-size-option:hover {
  border-color: #a5a5a6;
}

.pen-size-option.selected:before {
  background-color: #7665a0;
}

.pen-size-option.selected {
  border-color: #7665a0;
}

a, a:visited {
  color:#7665a0;
}

.background-picker.selected {
  border-color: #7665a0;
}

.resize-origin-option.selected {
  border : 3px solid #7665a0;
}

.resize-origin-option.selected:before {
  background: #7665a0;
}

.resize-origin-option[data-neighbor="bottom"]:before {
  border-top-color: #7665a0;
}

.resize-origin-option[data-neighbor="left"]:before {
  border-right-color: #7665a0;
}

.resize-origin-option[data-neighbor="top"]:before {
  border-bottom-color: #7665a0;
}

.resize-origin-option[data-neighbor="right"]:before {
  border-left-color: #7665a0;
}

.right-sticky-section .tool-icon.has-expanded-drawer {
  border-left : 3px solid #7665a0;
}

.settings-title {
  text-shadow: none;
  color: #fff;
}

.sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #7665a0;
  box-shadow: 0 0 0px 1px #7665a0;
}

.image-link {
  color : #7665a0;
}

.tooltip-shortcut {
  color:#7665a0;
}

.preview-toggle-onion-skin-enabled,
.preview-toggle-onion-skin-enabled:hover {
  color : #7665a0;
}

.original-size-button-enabled {
  color: #7665a0;
  border-color: #7665a0;
}

.open-popup-preview-button:hover {
  border-color: #7665a0;
}

.layers-toggle-preview-enabled,
.layers-toggle-preview-enabled:hover {
  color : #7665a0;
}

.current-layer-item,
.current-layer-item:hover {
  color: #7665a0;
}

.palettes-list-color:nth-child(-n+10):after {
  color: #7665a0;
}

.tool-icon.selected:before {
  border: 3px solid #7665a0;
}